<app-sidebar></app-sidebar>

<div class="content-page">
    <div class="content">
        
        <app-topbar></app-topbar>

        <!-- Start Content-->
        <div class="container-fluid">            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title -->             
        </div> <!-- container -->
    </div> <!-- content -->
    <app-footer></app-footer>
</div>
