<app-sidebar></app-sidebar>

<div class="content-page">
  <div class="content">
    <app-topbar></app-topbar>
    <!-- Start Content-->
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <a
                      style="cursor: pointer"
                      routerLink="/dashboard/owner/create"
                      class="btn btn-danger mb-2"
                      ><i class="mdi mdi-plus-circle me-2"></i> Crear Propietario</a
                    >
                  </div>
                </div>

                <div class="table-responsive">
                  <table
                    class="table table-centered w-100 dt-responsive nowrap"
                    id="products-datatable"
                  >
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>DNI</th>
                        <th>Edad</th>
                        <th>Usuario</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                        <th style="width: 110px">Acciones</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of owners; let indice = index;">
                      <tr>
                        <td>{{indice+1}}</td>
                        <td>{{item.nom_propietario}}</td>
                        <td>{{item.correo_propietario}}</td>
                        <td>{{item.dni_propietario}}</td>
                        <td>{{item.edad_propietario}}</td>
                        <td>{{item.usuario.name}}</td>
                        <td>{{item.fecha_incio_contrato}}</td>
                        <td>{{item.fecha_fin_contrato}}</td>
                        <td class="table-action">
                          <a style="cursor: pointer" class="action-icon">
                            <i class="mdi mdi-eye"></i
                          ></a>
                          <a style="cursor: pointer" class="action-icon">
                            <i class="mdi mdi-square-edit-outline"></i
                          ></a>
                          <a style="cursor: pointer" class="action-icon">
                            <i class="mdi mdi-delete"></i
                          ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end card-body-->
            </div>
            <!-- end card-->
            <!-- end row -->
          </div>
        </div>
      </div>
      <!-- end page title -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
  <app-footer></app-footer>
</div>
