<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
    
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="55">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="20">
        </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">
        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>            
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" routerLink="/dashboard" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a routerLink="/dashboard/user" class="side-nav-link">
                    <i class="uil-user"></i>
                    <span> Usuario </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a routerLink="/dashboard/department" class="side-nav-link">
                    <i class="uil-list-ul"></i>
                    <span> Departamento </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a routerLink="/dashboard/mascot" class="side-nav-link">
                    <i class="uil-github-alt"></i>
                    <span> Mascotas </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a routerLink="/dashboard/visitor" class="side-nav-link">
                    <i class="uil-users-alt"></i>
                    <span> Visitante </span>
                </a>
            </li>            
            <li class="side-nav-item">
                <a routerLink="/dashboard/visit" class="side-nav-link">
                    <i class="uil-users-alt"></i>
                    <span> Visita </span>
                </a>
            </li>            
            <li class="side-nav-item">
                <a routerLink="/dashboard/boleta" class="side-nav-link">
                    <i class="uil-atm-card"></i>
                    <span> Boleta </span>
                </a>
            </li>           
            <li class="side-nav-item">
                <a routerLink="/dashboard/incidence" class="side-nav-link">
                    <i class="uil-book-alt"></i>
                    <span> Incidencias </span>
                </a>
            </li>            
            <li class="side-nav-item">
                <a style="cursor: pointer;" class="side-nav-link" (click)= "onLogOut()">
                    <i class="uil-download-alt"></i>
                    <span> Cerrar Sesión </span>
                </a>
            </li>
            
        </ul>
              
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->

